body{
  font-family: 'Inria Sans', Arial, sans-serif; /* Font family */
  background-color: #F0F0F0; /* Light gray background */
  color: #274E68; /* Dark text color */
  margin: 0; /* No margin */
  padding: 0; /* No padding */
}

header {
  background-color: #E5F6DF; /* Green background */
  border-style: solid; /* Solid border */
  border-color: #AAC6A0; /* Darker green border */
  border-width: 1px; /* Border width */
  margin: 0; /* No margin */
  padding: 10px; /* No padding */
  display: flex; /* Flexbox layout */
  justify-content: space-between; /* Space between items */
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none; /*Removing the default text-decoration*/
  color: inherit; /* Resetting color to inherit from parent */
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}