body {
  margin: 0;
  padding: 0;
  font-family: "Inria Sans", Arial, sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  color: #274e68;
}

header {
  margin: 0;
  padding: 0.5em;
  background-color: #e5f6df;
  border-style: solid;
  border-color: #aac6a0;
  border-width: 0;
  border-bottom-width: 1px;
  display: flex;
  flex-wrap: wrap;
}

h1,
h2,{
  font-size: inherit;
  font-weight: inherit;
  margin: 0.2em;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button{
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

h1 {
  font-size: 24px;
  color: #22c423;
}

h2{
  font-size: 20px;
  color: #274e68;
}

#month-filter {
  margin: auto;
  padding: 10px;
  font-size: 20px;
  height: 1.2em;
  background-color: #ffffff;
  border: 1px solid #aac6a0;
  border-radius: 20px;
}

#tabNav {
  padding: 10px;
  margin: auto;
  font-size: 20px;
  height: 1.2em;
  display: flex;
  gap: 10px;
  background-color: #ffffff;
  border: 1px solid #aac6a0;
  border-radius: 20px;
  justify-content: space-between;
}

#line {
  width: 2px;
  height: 100%;
  background-color: #aac6a0;
}

.card{
  padding: 20px;
  margin: 10px;
  background-color: #ffffff;
  border: 1px solid #aac6a0;
  border-radius: 20px;
}

#summaryCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}